.square{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 25px;
    height: 25px;
    border: 1px solid black;
    align-content: flex-start;
    margin: 0%;

}
body{
    margin: 0%;
    padding: 0%;
    line-height: 0%;

}
.mainContainer{
    width: 450px;
    height: 450pX;
}
/*
.square:hover{
    background-color: black;
} 
*/
.black{
    background-color: black;
}

