.square{
    display:inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 0%; /* this 0% so it can be changed based on the 100/value */
    height: 0%;
    border: 1px solid black;
    align-content: flex-start;
    margin: 0%;
    box-sizing: border-box;

}

body{
    margin: 0%;
    padding: 0%;
    line-height: 0%;

}
.container{
    width: 600px;
    height: 600pX;
    padding: 0%;
    margin: 0;
}
.black{
    background-color: black;
}
.mainContainer{
    display: flex;
}
